<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://database-1.c7cwyu8s0jvr.us-east-1.rds.amazonaws.com:3306/database-1</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">database-1passkey#1</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.javawebtutor.model.User"/>
  </session-factory>
</hibernate-configuration>
